<section>
    <div class="container lastPost">
        <div class="row justify-content-center">
            <div class="dateAndTitle container">
                <div class="row">
                    <div class="col-1 datetime">
                        <div>20/03/18</div>
                        <div class="text-center">15h30</div>
                    </div>
                    <div class="col-11">
                        <a href="#">
                            <div>Evenement</div>
                            <h1>m m m m m m m m m m m m m m m m m m m m m m</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <a href="#">
                    <img class="testimg d-block" src="http://via.placeholder.com/1050x420">
                </a>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="puzzlePiece1"></div>
        <div class="puzzlePiece2"></div>
    </div>
</section>