<section class="sectionPosts pt-2 pb-5">
    <div class="container">
        <div class="row">
            {% for i in 0..5  %}
                <div class="col-6 mt-5">
                    <div class="row justify-content-center">
                        <div class="col-2 datetimz text-center">
                            <div class="mt-1">20/03/18</div>
                            <div>15h30</div>
                        </div>
                        <div class="col-10">
                            <a href="#">
                                <div>Evenement</div>
                                <h4>m m m m mm m m m m m m m m m m</h4>
                            </a>
                        </div>
                        <div class="mt-2">
                            <a href="#">
                                <img class="testimg d-block" src="http://via.placeholder.com/500x200">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mt-5 mb-5"></div>
        </div>
    </div>
</section>