<section>
    <div class="flex-container">
        <div class="puzzlePiece3"></div>
        <div class="puzzlePiece4"></div>
    </div>
    <div class="container lastPost">
        <div class="row justify-content-center">
            <div class="row mt-2">
                <a href="#">
                    <img class="testimg d-block" src="http://via.placeholder.com/1050x420">
                </a>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="puzzlePiece1"></div>
        <div class="puzzlePiece2"></div>
    </div>
</section>