<footer class="pt-5">
    <div class="flex-containerFooter">
        <div class="footerLeft text-center">
            <h1>Star Citizen</h1>
            <ol>
                <li><a href="">Roberts Space Industries</a></li>
                <li><a href="">Cloud Imperium Games</a></li>
                <li><a href="">Acheter Star Citizen</a></li>
                <li><a href="">Squadron 42</a></li>
                <li><a href="">Financements</a></li>
                <li><a href="">Evénements</a></li>
            </ol>
        </div>
        <div class="footerMid text-center">
            <h1>Social</h1>
        </div>
        <div class="footerRight text-center">
            <h1>Liens utiles</h1>
            <ol>
                <li><a href="">Qu'est-ce que Star Citizen ?</a></li>
                <li><a href="">Qu'est-ce que Squadron 42 ?</a></li>
            </ol>
        </div>
        <div class="footMidBot text-center">
            <p>Star Citizen Universe  © 2018 Tous droits réservés</p>
            <p style="margin:-22px;">Conçu et développé par <a href="#">Saphir88</a></p>
        </div>
    </div>
    <div class="lastFoot">Version 0.1 - <a href="#">Mentions Légales</a></div>
</footer>