<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="offset-2 navbar-brand" id="plan1" href="/"><img src="http://via.placeholder.com/100x100"></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offset-2 collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Actualités <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Base de données</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réseaux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
        </ul>
    </div>
</nav>
<script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};


    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        // Get the header
        var header = document.getElementById("navbar");
        var logo = document.getElementById("plan1");

        // Get the offset position of the navbar
        var sticky = header.offsetTop;
        var slider = document.getElementById("sliderBeacon").offsetTop;
        if (window.pageYOffset >= sticky) {
            header.classList.add("sticky");
            logo.classList.add("elem");
        }
        if (window.pageYOffset <= slider){
            header.classList.remove("sticky");
            logo.classList.remove("elem");
        }
    }
</script>
